apiversion: app/v1
kind: Deployment
Metadata:
    name: mongo-Deployment
spec:
  replicas: 1
  selector:
    matchlabels:
     app: mongo
  template:
    metadata:
    labels:
     app: mongo
  spec:
    containers:
     name: mongo
     image: mongo:5.0
     ports:
      -containerPort: 27017 
     volumesMounts:
     - name: mongo-storage
       mountPath: /data/db
    volume: 
     - name: mongo-storage
       persistentVolumeClaim:
        claimName: mongo-pvc


apiVersion: v1
kind: Service
metadata:
  name: mongo-service
spec:
  selector:
    app: mongo
  ports:
  - port: 27017
    targetPort: 27017
  type: ClusterIP

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongo-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi